@use 'src/styles' as colors;

.mat-expansion-panel {
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}


::ng-deep .mat-dialog-container  {
  background: colors.$custom-primary !important;
}

.bottom-margin {
  margin-bottom: 1em;
}

.delete {
  background: colors.$delete !important;
}

.add {
  background: colors.$add !important;
  margin-left: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.md-dialog-container {
  background-color: #000;
  width: 250px;
  height: 250px
}
