<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button>
      <mat-icon (click)="toggle()">menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div>
      <button mat-raised-button color="accent" [routerLink]="'/pending'"
              matBadge="{{pendingOrderSize}}" matBadgePosition="after" matBadgeColor="warn">
        Pending Orders
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav style="width: 20em;">
    <mat-nav-list>
      <a mat-list-item [routerLink]="''">
        <mat-icon color="primary" aria-hidden="false">business</mat-icon>
        My Organisations
      </a>

      <a mat-list-item [routerLink]="'/delivery'">
        <mat-icon color="primary" aria-hidden="false">delivery_dining</mat-icon>
        Delivery Man
      </a>

      <a mat-list-item (click)="logout()">
        <mat-icon color="primary" aria-hidden="false">logout</mat-icon>
        Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100%; background-color: #353941">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
