@use 'src/styles' as colors;

mat-sidenav {
  background-color: colors.$custom-secondary !important;
}

mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

mat-toolbar {
  width: 100%;
  min-width: 100%;
}

mat-icon {
  margin-right: 1em;
}

form {
  margin: 1em;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: colors.$custom-secondary;
  }

  .mat-form-field-label {
    color: colors.$custom-secondary;
  }

  .mat-form-field-underline {
    background-color: colors.$custom-secondary;
  }

  .mat-form-field-ripple {
    background-color: colors.$custom-secondary;
  }

  .mat-form-field-required-marker {
    color: colors.$custom-secondary;
  }

  .mat-select-arrow {
    color: colors.$custom-secondary;
  }

  .mat-select-value {
    color: colors.$custom-secondary;
  }
}

::ng-deep .mat-option {
  background-color: colors.$custom-secondary;
  color: colors.$custom-primary !important;
}

.mat-option.mat-active {
  background-color: colors.$custom-light;
  color: colors.$custom-primary !important;
}

mat-option:hover {
  background-color: colors.$custom-light !important;
  color: colors.$custom-primary !important;
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: colors.$custom-light;
  }

  .mat-form-field-ripple {
    background-color: colors.$custom-light;
  }

  .mat-form-field-required-marker {
    color: colors.$custom-light;
  }

  .mat-input-element {
    color: colors.$custom-light;
  }
}

table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.example-card {
  margin: 1em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

router-outlet {
}

.mat-dialog-container {
  background: colors.$custom-light !important;
}

.delete {
  background: colors.$delete !important;
}

.add {
  background: colors.$add !important;
  margin-left: 1em;
}

.mat-card {

}
