@import '~@angular/material/theming';
@include mat-core();

$custom-primary: #222831;
$custom-secondary: #ffd369;
$custom-warm: #393e46;
$custom: (
  500: $custom-primary,
  contrast: (
    500: $custom-secondary,
  )
);

$custom-accent: (
  500: $custom-secondary,
  contrast: (
    500: $custom-primary,
  )
);

$custom-warm: (
  500: $custom-warm,
  contrast: (
    500: $custom-secondary,
  )
);

$my-app-primary: mat-palette($custom);
$my-app-accent: mat-palette($custom-accent);
$my-app-warm: mat-palette($custom-warm);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warm);

$custom-background-color: #eeeeee;
$background: map-get($my-app-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$my-app-theme: map_merge($my-app-theme, (background: $background));
@include angular-material-theme($my-app-theme);

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

html {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-color: $custom-background-color;
}
