@import '~@angular/material/theming';
@include mat-core();

$custom-primary: #26282b;
$custom-secondary: #5f85db;
$custom-warm-c: #353941;
$custom-light: #90b8f8;
$delete: #eb6e65;
$add: #a4e8a0;

$custom: (
  500: $custom-primary,
  contrast: (
    500: $custom-secondary,
  )
);

$custom-accent: (
  500: $custom-secondary,
  contrast: (
    500: $custom-primary,
  )
);

$custom-warm: (
  500: $custom-light,
  contrast: (
    500: $custom-warm-c,
  )
);

$my-app-primary: mat-palette($custom);
$my-app-accent: mat-palette($custom-accent);
$my-app-warm: mat-palette($custom-warm);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warm);

$custom-background-color: #353941;
$background: map-get($my-app-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$my-app-theme: map_merge($my-app-theme, (background: $background));
@include angular-material-theme($my-app-theme);

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: $custom-background-color;
}

html {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-color: $custom-background-color;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $custom-light;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $custom-secondary;
}
