@import '~@angular/material/theming';

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

html {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

$add: #a4e8a0;
$add-hover: #d2edd1;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .success-snackbar {
  background: $add-hover !important;
}

::ng-deep .success-snackbar button {
  background: $add !important;
}

::ng-deep .success-snackbar button:hover {
  background: $add-hover !important;
}
